doctype html
html(lang='de')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        link(rel='icon', href='favicon.ico')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600')
        title Berichterstellung
    body
        noscript
            strong Der Formularersteller funktioniert nur mit aktivierten JavaScript
        #app
        // built files will be auto injected
